* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-blue: #5463FF;
    --primary-gray: #ECECEC;
    --primary-yellow: #FFC300;
    --primary-red: #FF1818;
}

body {
    color: #111;
}

svg > rect {
    fill: var(--primary-red);
}

header {
    background-color: var(--primary-blue);
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-red);
}

main {
    padding: 10px 20px;
}

main > h1 {
    margin-bottom: 10px;
}

.list-ideas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.idea > img {
    width: 50%; 
    /* display: inline-block; */
    margin: auto;
    
}

footer > div {
    width: 100%;
    height: 200px;
    background-color: #5463FF;
}